<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="com.mine.obsession.models.Works" alias="works"/>
        <typeAlias type="com.mine.obsession.models.Chapter" alias="chapter"/>
        <typeAlias type="com.mine.obsession.models.Page" alias="page"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/mine/obsession/mappers/WorksMapper.xml"/>
        <mapper resource="com/mine/obsession/mappers/ChapterMapper.xml"/>
        <mapper resource="com/mine/obsession/mappers/PageMapper.xml"/>
    </mappers>


</configuration>
